.header {
  position: fixed;
  width: 100%;
  padding: 20px 5px;
  box-sizing: border-box;
  z-index: 9;
  background-color: rgba($color: #000000, $alpha: 0.25);

  &__box {
    max-width: 1560px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__lang {
    color: white;
    @include adaptiv-font(16, 14);
    margin-left: 5px;
  }

  &__menu-bttn {
    display: none;

    @media (max-width: 768px) {
      display: inline;
    }
  }

  &__nav {
    width: 55%;

    @media (max-width: 768px) {
      position: absolute;
      height: 100vh;
      top: 0;
      left: -40%;
      background-color: rgba($color: #000000, $alpha: 0.75);
    }
  }

  &__search {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 20%;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;

    @media (max-width: 768px) {
      width: 40%;
      margin-right: 10px;
    }
  }
}

.menu {
  transition: all 1s ease;

  &__list {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    @include Circle();
    @include adaptiv-font(16, 14);
    color: white;

    @media (max-width: 768px) {
      margin-top: 20px;
      font-size: 20px;
    }
  }

  &__link {
    &::after {
      background: white;
    }
  }

  &__close-bttn {
    display: none;

    @media (max-width: 768px) {
      display: inline;
      position: absolute;
      top: 10px;
      left: calc(100% - 25px);
    }

    &:hover {
      color: rgba($color: #fff, $alpha: 0.6);
    }
  }
}

.search-form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 10px;

  @media (max-width: 768px) {
    margin-right: 35px;
  }

  &__label {
    cursor: pointer;
  }

  &__input {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    width: 0;
    padding: 0;
    transition: all 1s ease;
    cursor: pointer;
    color: #fff;

    &:focus {
      width: 100%;
    }

    &::placeholder {
      color: #fff;
    }
  }
}
